.cell {
  width: 16px;
  height: 16px;
  color: blue;
  background-image: url("/minesweeper.gif");
}

.hidden {
  background-position: 0 -39px;
}

.is-mine {
  background-position: -32px -39px;
}

.is-flag {
  background-position: -16px -39px;
}

.cell0 {
  background-position: 0 -23px;
}

.cell1 {
  background-position: -16px -23px;
}

.cell2 {
  background-position: -32px -23px;
}

.cell3 {
  background-position: -48px -23px;
}

.cell4 {
  background-position: -64px -23px;
}

.cell5 {
  background-position: -80px -23px;
}

.cell6 {
  background-position: -96px -23px;
}

.cell7 {
  background-position: -112px -23px;
}

.cell8 {
  background-position: -128px -23px;
}

table td {
  padding: 0px;
}

table {
  border-collapse: collapse;
}
