.cell {
  width: 16px;
  height: 16px;
  color: blue;
  background-image: url("/minesweeper.gif");
}

.hidden {
  color: red;
  background-position: 0 -39px;
}

.is-mine {
  color: purple;
}

table td {
  padding: 0px;
}

table {
  border-collapse: collapse;
}
